---
import AboutHeroImage from '../assets/rAndEl.jpg';
import Layout from '../layouts/Notes.astro';
---

<Layout
	title="Welcome!"
	description="Misc Notes"
	pubDate={new Date('May 16 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Howdy there -- I have far too many hobbies and love my dog. I have hopes that this site will sprawl out like my hair and feature all the various topics I want to discuss in different tendrils. 
	</p>

	<p>
		Let's see! I am trying to get a bit of a hockey blog sorta thing going because I spend a lot of time talking to my dad about it. I somewhat miss my sports analytics day from my masters so I went ahead and wrote a script which would recalculate the league standings for those teams not making the playoffs to help avoid the insanity of the draft lottery. I'll start ranting so here, take a look at it.
	</p>

	<p>
		I also like to crochet! I can't say I am nearly as good as my friends, but I like making patterns so once I come up with a fun way to post them, I'll add those to the #blog. A lot of the things are kinda lumpy, but aren't we all.
	</p>

	<p>
		I am trying to write more! I'd made a substack (see https://curlyguy.substack.com/) to share short stories here and there. For some reason I got all bent out shape about people seeing my work and it not being good enough so why not hide it on a trash heap of a cite where it can shimmer by comparison.
	</p>

	<p>
		I am shortly moving out to Denver to have better access to hiking and climbing. I think it could be cool to leave notes from all my hikes as a log of my time out there.
	</p>

	<p>
		Oh yeah! I am trying to learn the guitar! The fact that it is this low on the list does not bode well, but if you know of any good starter songs, drop me a link (but don't yet lend me ears unless you want them back damaged). Maybe, one day, I'll write up some chords and dumb lyrics and a video of me freaken shredding dude.
	</p>	
</Layout>
